*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat, Helvetica, sans-serif;
  background: #f4f4f4;
  padding-top: 154px;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px 25px;
  background:rgb(27, 26, 26);
  box-shadow: inset 0px -1px 0px #c5c5c6;
  z-index: 1;
}
.nav-icon {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 20px;
}

.nav-icon span {
  font-family: Roboto Flex, sans-serif;
  font-size: 25px;
  margin-left: 10px;
  font-weight: 400;
  color: #333;
}

.nav-icon img {
  width: 100px;
  
}
h1{
  color: #00A0b0;
  opacity: 0;
	animation: apparition 1s 1.4s ease-out forwards;
  white-space: nowrap;
}


.hamburger {
  display: none;
  
}

.navlinks-container{
  margin: 50px;
  padding-top: 5px;
  white-space: nowrap;
  
  
}

.navlinks-container a {
  margin: 0 10px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: rgb(242, 236, 236);
  position: relative;
  opacity: 0;
  transform: translateY(-30px);
	animation: apparition 1.5s 1.6s ease-out forwards;

  
}
.navlinks-container a::after {
  content: "";
  display: inline block;
  position: absolute;
  bottom: -3px;
  width: 100%;
  height: 1px;
  right: 100%;
  transform: scaleX(0);
  transform-origin: right;
  background: #00A0b0;
  transition: transform 0.2s ease-out;
  
}
.navlinks-container a:hover::after {
  transform: scaleX(-1);
  transform-origin: right;
}

.nav-authentication {
  margin-left: auto;
}

.sign-btns button {
  font-family: Roboto Flex, sans-serif;
  font-size: 16px;
  min-width: 90px;
  padding: 10px 5px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.sign-btns button:nth-child(2) {
  border: none;
  background: rgba(146, 195, 238, 0.718);
}
.user-toggler {
  display: none;
}
main {
  margin-top: 60px;
}





@media (max-width: 900px) {
  nav {
    padding: 15px 20px;
    position: fixed;
  }

  /* nav */
  .nav-icon {
    order: 2;
    margin: 0 auto;
  }

  .nav-icon span {
    font-size: 22px;
  }
  .main-navlinks {
    order: 1;
    width: auto;
  }

  /* hamburger */
  .hamburger {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none;
    display: flex;
    background: rgb(27, 26, 26);
    align-items: center;
    position: relative;
  }

  .hamburger span {
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    position: absolute;
    pointer-events: none;
    transition: opacity 0.3s 0.15s ease-out;
  }
  .hamburger span:nth-child(1),
  .hamburger span:nth-child(3) {
    transition: transform 0.3s ease-out;
  }

  .hamburger span:nth-child(1) {
    transform: translateY(7px);
  }
  .hamburger span:nth-child(3) {
    transform: translateY(-7px);
  }

  .hamburger.open span:nth-child(1) {
    transform: translate(0) rotate(135deg);
  }
  .hamburger.open span:nth-child(2) {
    opacity: 0;
    transition: opacity 0s ease-out;
  }
  .hamburger.open span:nth-child(3) {
    transform: translate(0) rotate(-135deg);
  }

  .navlinks-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    background: #fafafa;
    top: 100%;
    left: 0;
    transform: translate(-150%);
    height: 100vh;
    padding: 15px 50px 15px 20px;
    border-right: 1px solid #c5c5c6;
  }
  .open {
    transform: translate(-20%);
  }

  .navlinks-container a {
    font-size: 18px;
    margin: 10px 0px;
  }


  .nav-authentication {
    order: 3;
    margin-left: 0;
  }
  .sign-btns {
    display: none;
  }

  .user-toggler {
    display: block;
    cursor: pointer;
    border: none;
  }

  .user-toggler img {
    width: 20px;
  }
}

@media (max-width: 500px) {
  .nav-icon img {
    width: 30px;
  }
  .nav-icon span {
    font-size: 20px;
  }
}
@keyframes apparition {
	100%{
	  opacity: 1;
	  transform: none;
	}
  }
  
  .loading-anim {
	animation-play-state: paused !important;
  }
